<% for player in @players %>
  <p>
    Player Name: <%= player.game_name %>
  </p>
  <p>
    <a href="/players/<%= player.id %>">Goto</a>
  </p>
  <hr/>
<% end %>

<h2><a href="/players/new">Add Player</a></h2>
<hr/>
