<h1>All Players</h1>
<hr/>
<% for player in @players %>
  <p>
    <a href="/players/<%= player.id %>"><%= player.game_name %></a>
  </p>
  <hr/>
<% end %>

<form action="/players/new">
  <input type="submit" value="New Player"/>
</form>
