<form action="/players" method="POST">
  <label for="game-name">IGN:</label>
  <input required name="game_name" type="text" id="game-name"/>

  <label for="team-id">Team:</label>
  <input name="team_id" type="number" id="team-id"/>

  <input type="submit" value="Add Player"/>
  
</form>
