<h2>The teams</h2>
<hr />
<nav>
  <ul>
    <li>
      <a href="/teams/new">Add Team</a>
    </li>
  </ul>
</nav>
<hr/>
<% for team in @teams %>
  <p>
    Team Name: <%= team.team_name %>
  </p>
  <p>
    <a href="/teams/<%= team.id %>">Goto</a>
  </p>
  <hr/>
  <% end %>
