<form action="/teams" method="POST">
  <label for="team-name">Team Name: 
    <input required name="team_name" type="text" id="team-name"/>
  </label>
  <label for="league-id">League: 
    <input name="league_id" type="number" id="league-id"/>
  </label>

  <input type="submit" value="Add Team"/>
  
</form>
