* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'MedievalSharp', cursive;
  background-color: #D2D2D2;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

header img {
  height: 64px;
}

p {
  font-family: 'Merriweather', serif;
  colour: #424242;
}

.navbar {
  background-color: #424242;
  color: #D2D2D2;
  margin-bottom: 50px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

li {
  margin: 15px;
  padding: 5px;
  font-size: 1.5em;
  border-radius: 20%;
  color: #DDD;
}

.logo {
  display: inline-block;
  float: left;
}

a {
  color: #D2D2D2;
}

a:hover{
  color: #f5d547;
}

a:visited {
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
  background-color: #424242;
  color: #D2D2D2;
}

footer a:link {
  color: #D2D2D2;
}

footer a:hover {
  color: #f5d547;
}
