* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'MedievalSharp', cursive;
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

header img {
  height: 48px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 50px;
  width: 30vw;
  height: 50vh;
  background-color: #D2D2D2;
  color: #424242;
  border-radius: 25%;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

p {
  font-family: 'Merriweather', serif;
  colour: #424242;
}

.navbar {
  background-color: #424242;
  color: #D2D2D2;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

.logo {
  margin: 5px auto 5px 5px;
  float: left;
}

nav li {
  padding: 5px;
  font-size: 1.5em;
  border-radius: 20%;
}

a {
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  color: #424242;
  line-height: 2em;
}

nav a {
  border-radius: 25%;
  color: #D2D2D2;
}

a:hover{
  padding: 6px;
  background-color: #FFCE00;
  color: #424242;;
}

.logo a {
  background-color: #424242;
}

a:visited {
  text-decoration: none;
}

button {
  margin: 10px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
  padding: 20px;
  background-color: #424242;
  color: #D2D2D2;
}

footer a:link {
  color: #D2D2D2;
}

footer a:hover {
  color: #FFCE00;
}
