<form action="/leagues/<%= @league.id %>" method="POST">

  <label for="league-name">League Name: </label>
  <input name="league_name" type="text" value="<%= @league.league_name %>" id="league-name"/>

  <input name="" type="submit" value="Update League"/>
</form>
