<h1>The leagues</h1>
<hr/>
<% for league in @leagues %>
  <p>
    <a href="/leagues/<%= league.id %>"><%= league.league_name %></a>
  </p>
  <hr />
<% end %>
<form action="/leagues/new">
  <input type="submit" value="New League"/>
</form>
