<form action="/leagues" method="POST">

  <label for="league-name">League Name: 
    <input required name="league_name" type="text" id="league-name" />
  </label>

  <input type="submit" value="Add League"/>


</form>
