<h2><%= @league.league_name %></h2>

<p> Teams:   </p>
<hr/>
<% for team in @league.teams_list() %>
    <h3><%= team.team_name() %></h3>
    <hr />
<% end %>

<form action="/leagues/<%= @league.id %>/edit">
  <input type="submit" value="Edit League"/>
</form>

<form action="/leagues/<%= @league.id %>/delete" method="POST">
  <button type="submit" value="Delete League"/>Delete League</button>
</form>
